 body {
  font: 16px Helvetica, Sans-Serif;
  line-height: 24px; background: #FAEBD7;
}

.clear {
  clear: both;
}

#content-position {
  width: 800px;
  margin: 40px auto 60px;
}

#pic {
  float: right;
  margin: -70px 0 0 0;
}

h1 {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -2px;
  border-bottom: 1px
  solid #999;
}

h2 {
  font-size: 20px;
  margin: 0 0 6px 0;
  position: relative;
}

p {
  margin: 0 0 16px 0;
}

a {
  color: #999;
}

a:hover {
  border-bottom-style: solid;
  color: black;
}

ul {
  margin: 0 0 32px 17px;
  padding: 0 0 0 140px;
}

dt {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  padding: 0 26px 0 0;
  width: 150px;
  float: left;
  height: 120px;
  border-right: 1px solid #999;
}

dd.clear {
  float: none;
  margin: 0;
  height: 15px;
}
